@font-face {
    font-family: 'brush'; 
    src: url('./fonts/Break\ Brush.ttf'); 
}
@font-face {
    font-family: myFont;
    src: url('./fonts/Serenity\ Moment.ttf');
}
@font-face {
    font-family: arcane;
    src: url('./fonts/Arcane\ Nine.otf');
}
@font-face {
    font-family: hackathon;
    src: url('./fonts/Super\ Cartoon.ttf');
}
@font-face {
    font-family: contact;
    src: url('./fonts/TimelessMemoriesRegular-2vvwo.otf');
}
* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    overflow-x: hidden;
    
   
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color:white;
    height: 100%;
    overflow-x: hidden;
    
}
/*section-1*/
.first-page {
    
    background-image: url('./images/bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110vh;
    padding: 3rem;
    padding-top:100px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    background-attachment: fixed;
}
.first-page * {
    height: auto;
}
.cursor{
    height:20px;
    width:20px;
    background-color:#FACD73;
    border-radius:50%;
    position:fixed;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    color: rgb(222, 206, 81);
    width: 50%;
    gap: 2rem;
    align-items: center;
    z-index: 1;
}
.left h1 {
    color: white;
    overflow-y: hidden;
    letter-spacing: 0.2rem;
    font-size: 7rem;
    font-family: 'brush';
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    line-height: 1.2;
    word-wrap: break-word;
    height:100px;
    text-align: center;
    width: 100%;
    animation: 
        typing 2s steps(18),
        cursor .4s step-end infinite alternate;
    display: inline-block;
}
@keyframes cursor{
    50% { border-color:transparent }
}
@keyframes typing{
    from { width:0}
}
.left p {
    width: 90%;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FACD73;
    text-align: justify;
    margin-top: 0.2rem;
    height: auto;
    overflow: hidden;
    min-height: 3rem;
    font-family: arcane;
    position: relative;
    margin:0;
    z-index: 1;
    overflow: hidden;
}

.left button {
    height: 3rem;
    width: 8rem;
    justify-content: center;
    align-self: center;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background: black;
    color: #000;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 .2em .3em rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(110deg, #9d7b30 0%, #020201 50%, transparent 50%, transparent 100%);
    font-weight: bolder;
    font-size:14px;
    border: 3px solid white;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.left button:hover {
    background: rgb(200, 180, 60);
    transform: scale(1.1);
    border:4px solid black;
    scale:1px;
    box-shadow: 0 0 .3em rgba(0, 0, 0, 0.25);
    color: #fff;
    transition:all 0.3s ease-in;
}
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 2rem;
}
.right img {
    max-height: 60%;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: 0px 20px 100px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
    border:3px solid rgb(255, 255, 255);
    border-radius:10px;
}
/*section-2*/
.section-2{
    width:100%;
    height:110vh;
    display:flex;
    background-color: rgb(0, 0, 0);
    background-blend-mode: darken;
}
.left-2{
    width:50%;
    height:90%;
    margin-top:50px;

    
}
.left-2 p{
    text-wrap: wrap;
    font-family:sans-serif;
    font-size:20px;
    margin-left:30px;
    color:white;
}
.event-details{
    margin-top:30px;
    margin-bottom: 30px;
    margin-left:30px;
}
.event-details h2{
    color:#FACD73
}
.event-details span{
    font-style: italic;
    font-weight: bold;
    margin-left:10px;
    color:#FACD73
}
.event-details p{
    margin-top:10px;
}
.rules{
    margin-bottom: 20px;
    margin-left:30px;
}
.rules h2{
    color:#FACD73;
}
.rules ul{
    margin:10px 0;
}
.rules ul li{
    list-style:none;
    margin-top:10px;
    font-size:20px;
    margin-left:40px;
    color:white;
}
.rules span{
    font-weight: bold;
    color:#FACD73
    
}
.awards{
    margin-left:30px;
}
.awards h2{
    color:#FACD73;
}
.awards p{
    margin:10px 0;
    margin-left:40px;
    color:white;
}
.right-2{
    height:90%;
    width:50%;
    margin-top:50px;

}
.right-2 img{
    
    width:700px;
    height:800px;
    margin-left:40px;
    border:10px solid white;
    margin-right:300px;

}

/*section-3*/
.section-3{
    height: 100%;
    margin-bottom:200px;
}
.contact-container{
    width:100%;
    height:100%;
    margin-top:40px;
    
    
  }
  .contact-container h3{
    color:gray;
    letter-spacing: 1px;
    font-size:24px;
    font-weight: bolder;
    margin-left:30px;
    font-family: 'roboto';
    margin-top: 0px;
  }
  .contact-container h2{
    border-bottom:4px solid #FACE73;
    border-radius:10px;
    width:400px;
    margin-top:-15px;
    margin-left:300px;
    
  }
  .contact-heading{
    width:100%;
    height:40px;
  }
  
  .details-heading{
    margin-top:10px;
    width:100%;
    height:90px;
    display:flex;
    flex-direction: row;
    margin-left:60px;
    
  }
  
  
  .details-heading p{
    font-size:60px;
    text-wrap: nowrap;
    font-weight: bolder;
    height:auto;
    color: #FACD73;
    font-family: contact;
  }
  .details{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:5px;
  }
  .Name{
    display:flex;
    gap:10px;
    margin-left:60px;
  }
  .Name img{
    margin-top:25px;
  }
  .Name h4{
    font-size:21px;
    margin-top:30px;
    font-weight:bold;
  }
  

  
/*RESPONSIVENESS*/
@media screen and (max-width:1280px) {
    .first-page{
        width:100%;
        height:80vh;
        padding-top:400px;
    }
    .left{
        min-width:50%;
        max-height:auto;
    }
    .left h1{
        font-size:80px;
    }
    .left p{
        font-size:20px;
    }
    .right{
        min-width:50%;
        max-height:auto;
        margin-top:60px;
    }
    .right img{
        min-width:80%;
        max-height:auto; 
    }
    .section-2{
        width:100%;
        height:80vh;
    }
    .left-2{
        min-width:40%;
        max-height:auto;

    }
    .right-2{
        min-width:50%;
        max-height:auto;
        margin-right:60px;
    }
    .right-2 img{
        width:90%;
        max-height:80%;
        margin-left:30px;
    
    }
    
}
@media screen and (max-width: 1024px) {
    .first-page{
        width:100%;
        height:80vh;
        padding-top:400px;
    }
    .left{
        min-width: 50%;
        max-height:auto;
        
    }
    .left h1{
        font-size: 80px;
    }
    .left p{
        font-size: 20px;
    }
    .right{
        min-width:50%;
        max-height:auto;
        margin-top:60px;
    }
    .right img{
        min-width:80%;
        max-height:auto;
        
    }
    .section-2{
        width:100%;
        height:80vh;
    }
    .left-2{
        min-width:50%;
        max-height:auto;


    }
    .right-2{
        min-width:50%;
        max-height:auto;

        margin-right:60px;
    }
    .right-2 img{
        width:90%;
        height:50%;
        margin-left:10px;
    
    }
    

}
@media screen and (max-width:768px) {
    .first-page{
        width:100%;
        height:60vh;
        padding-top:100px;
    
    }
    .left{
        min-width: 90%;
        height:auto;
        margin-top:150px;
    }
    .left h1{
        font-size: 60px;
        padding:20px;
    }
    .left p{
        font-size: 20px;
        margin-top:-50px;
       
    }
    .right{
        min-width:50%;
        max-height:auto;
        margin-top:60px;
        visibility: collapse;
    }
    .right img{
        min-width:80%;
        max-height:auto;
        visibility: hidden;
    }
    .section-2{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
    }
    .left-2{
        min-width:90%;
        max-height:auto;
        margin-left:30px;
    }
    .right-2{
        min-width:70%;
        max-height:auto;
        margin-left:80px;
    }
    .right-2 img{
        width:90%;
        max-height:80%;
        margin-left:40px;
    
    }
    .section-3{
        width:100%;
        height:auto;
    }
    .contact-heading h2{
        width:200px;
        margin-top:-15px;
        margin-left:250px;
    }
    .contact-heading h3{
        font-size:20px;
    }
    .details-heading p{
        font-size:40px;
    }
}
@media screen and (max-width:480px){
    .left h1{
        font-size:43px;
        
    }
    .left p{
        font-size:20px;
    }
    .left-2{
        margin-left:10px;
    }
    .right-2{
        margin-left:40px;
        padding-right:30px;
    }
    .right-2 img{
        margin-right:10px;
    }
    .contact-container{
        max-width:80%;
    }
    .contact-heading h3{
        font-size:15px;
        margin-top:10px;
    }
    .contact-heading h2{
        margin-left:200px;
    }
    .details-heading p{
        max-width:80%;
        font-size:30px;
    }
}
@media screen and (max-width:385px){
    .left h1{
        font-size:40px;   
    }
    .left p{
        font-size: 15px;
    }
    .section-2{
        width:100%;
        height:auto;
        display: flex;
        flex-direction: column;
    }
    .left-2{
        min-width:80%;
        max-height:auto;
        margin-left:20px;
    }
    .right-2{
        min-width:70%;
        max-height:auto;
        margin-left:80px;
    }
    .right-2 img{
        width:90%;
        max-height:80%;
        margin-left:0px;
    
    }
    .contact-container{
        max-width:80%;
    }
    .contact-heading h3{
        font-size:12px;
    }
    .contact-heading h2{
        margin-top:-10px;
        margin-left:180px;
    }
    .details-heading p{
        font-size:30px;
    }
    .details{
        margin-top:-40px;
    }
}
